.uael-ibanner-section {
  width: 100%;
  overflow: hidden;
}
.ibanner-orientation-vertical,
.ibanner-orientation-horizontal {
 width: 100%;
 height: 100%;
}
.uael-ibanner-container ul.ibanner-ul-list {
  width: 100%;
  margin: 0;
  padding: 0;
}
.ibanner-orientation-horizontal .ibanner-ul-list {
  display: table;
  table-layout: fixed;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.ibanner-orientation-horizontal .ibanner-list-li {
  display: table-cell;
  width: 16.666%;
  height: 400px;
}
.uael-ibanner-container .ibanner-list-li {
  box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.2);
  vertical-align: top;
  position: relative;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  overflow: hidden;
}
.ibanner-orientation-vertical .ibanner-ul-list {
 display: -ms-flexbox;
 display: -webkit-flex;
 display: -moz-flex;
 display: -ms-flex;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
 -ms-flex-direction: column;
 flex-direction: column;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
}
.ibanner-orientation-horizontal .ibanner-ul-list:hover .ibanner-list-li {
  width: 12%;
}
.ibanner-orientation-horizontal .ibanner-ul-list:hover li.ibanner-list-li:hover,
.ibanner-orientation-horizontal .ibanner-ul-list li.ibanner-list-li-active {
  width: 30%;
}
.uael-ibanner-container .ibanner-background  {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ibanner-content-wrap {
 position: absolute;
 display: -ms-flexbox;
 display: -webkit-flex;
 display: -moz-flex;
 display: -ms-flex;
 display: flex;
 align-items: center;
 justify-content: center;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 z-index: 1;
 padding: 1em;
}
.uael-ibanner-container .ibanner-content-wrap {
  -webkit-transition: background-color 0.3s ease-in-out, transform 0.3s 0.3s ease-in-out, visibility 0.3s 0.3s ease-in-out, opacity 0.3s 0.3s ease-in-out, color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out, transform 0.3s 0.3s ease-in-out, visibility 0.3s 0.3s ease-in-out, opacity 0.3s 0.3s ease-in-out, color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out, transform 0.3s 0.3s ease-in-out, visibility 0.3s 0.3s ease-in-out, opacity 0.3s 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, transform 0.3s 0.3s ease-in-out, visibility 0.3s 0.3s ease-in-out, opacity 0.3s 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, transform 0.3s 0.3s ease-in-out, visibility 0.3s 0.3s ease-in-out, opacity 0.3s 0.3s ease-in-out, color 0.3s ease-in-out;
}
.elementor-editor-active .uael-ibanner-container .ibanner-content {
  z-index: 100;
  text-align: center;
}
.ibanner-content .uael-ibanner-title {
  margin: 0;
  padding: 0;
}
.ibanner-content .uael-ibanner-title {
  -webkit-transform: translate3d(0,-50px,0);
  transform: translate3d(0,-50px,0);
}
.uael-ibanner-section .uael-ibanner-icon {
    font-size: 20px;
}
.uael-ibanner-section .uael-ibanner-icon,
.ibanner-content .uael-ibanner-description {
  -webkit-transform: translate3d(0,-50px,0);
  transform: translate3d(0,-50px,0);
}
.ibanner-content .uael-ibanner-description {
    -webkit-transform: translate3d(0,50px,0);
    transform: translate3d(0,50px,0);
}
.uael-ibanner-container .ibanner-content * { /* Hide the content line title, desp, icon */
  opacity: 0;
  visibility: hidden;
}
.uael-ibanner-container .ibanner-list-li:hover .ibanner-content * { /* On Hover content transmission*/
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.uael-ibanner-container .ibanner-content * {
    -webkit-transition: transform 0.3s ease-in-out, visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
     -moz-transition: transform 0.3s ease-in-out, visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
     -ms-transition: transform 0.3s ease-in-out, visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
     -o-transition: transform 0.3s ease-in-out, visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
     transition: transform 0.3s ease-in-out, visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
 .uael-ibanner-container .ibanner-list-li:hover .ibanner-content * {
     -webkit-transition: transform 0.3s 0.3s ease-in-out, visibility 0.3s 0.3s ease-in-out, opacity 0.3s 0.3s ease-in-out, color 0.3s ease-in-out;
     -moz-transition: transform 0.3s 0.3s ease-in-out, visibility 0.3s 0.3s ease-in-out, opacity 0.3s 0.3s ease-in-out, color 0.3s ease-in-out;
     -ms-transition: transform 0.3s 0.3s ease-in-out, visibility 0.3s 0.3s ease-in-out, opacity 0.3s 0.3s ease-in-out, color 0.3s ease-in-out;
     -o-transition: transform 0.3s 0.3s ease-in-out, visibility 0.3s 0.3s ease-in-out, opacity 0.3s 0.3s ease-in-out, color 0.3s ease-in-out;
     transition: transform 0.3s 0.3s ease-in-out, visibility 0.3s 0.3s ease-in-out, opacity 0.3s 0.3s ease-in-out, color 0.3s ease-in-out;
}
 /* Vertical Orientation */
 .ibanner-orientation-vertical .ibanner-ul-list {
     display: -ms-flexbox;
     display: -webkit-flex;
     display: -moz-flex;
     display: -ms-flex;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
}
.ibanner-orientation-vertical .ibanner-list-li {
    width: 100%;
    list-style-type: none;
    height: 200px;
}
.ibanner-orientation-vertical .ibanner-ul-list:hover li.ibanner-list-li:hover {
    height: 400px !important;
}

.ibanner-separator-parent {
  line-height: 1;
}
.uael-ibanner-container .ibanner-separator {
  border-color: #61ce70;
    /*border-style: solid;*/
    display: inline-block;
    width: 20%;
    border-width: 2px;
}
/*--------------------------------------------------------*/
.premium-accordion-horizontal .premium-accordion-ul:hover li.premium-accordion-li:hover,
.premium-accordion-horizontal .premium-accordion-ul li.premium-accordion-li-active {
  width: 30%;
}
.premium-accordion-vertical .premium-accordion-ul:hover li.premium-accordion-li:hover,
.premium-accordion-vertical .premium-accordion-ul li.premium-accordion-li-active {
  height: 400px !important;
}